body {
    background-color: powderblue; /* Fundo da página */
    font-family: Arial, sans-serif;
}
.product-img {
    max-width: 150px; /* Ajuste do tamanho das imagens */
    height: auto;
    margin-bottom: 15px;
}
.card {
background-color: powderblue; /* Fundo similar ao background da página */
border-radius: 8px; /* Deixa os cantos arredondados */
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona leve sombra */
}
#Rodapé {
background-color: powderblue; /* Mantém o fundo do rodapé consistente */
padding: 20px;
border-radius: 8px;
}


#carrinho{
  font-family: Arial, sans-serif;
  margin: 20px;
  margin-top: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            min-height: 50px;
            width: 200px;

}

.topo h1{
  font-size: 100px;
  }

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    flex: 1 1 250px;
    max-width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}


.product {
  text-align: center; 
  margin: 10px; 
  padding: 20px;
  border: 2px solid black;
  flex: 1 1 250px; 
  max-width: 300px; 
}

.product img {
  max-width: 100%; 
  height: auto; 
}

h1, h2, h3 {
  margin: 30px 0; 
}

.select-container {
  margin-top: 10px; 
}

.danix{
  text-align: center;
}

.sabor-destaque {
    font-weight: bold;
    color: darkred;
    font-size: 1.2em;
    margin-top: 5px;
}


@media (max-width: 980px) {
  html {
    font-size: 150%;
  }

.topo{
  margin:0;
  text-align: center;
 }

.topo h1{
  font-size: 280%;
}

form{
  width: 90%;
  background-color: blanchedalmond;
}

form input {
  margin-bottom: 1.1rem;
  font-size: rem;

}

.flexdiv{
  display: flex;
  flex-direction: column;
}

#img  {

  width:"304"; 
  height:"228"

}
  
}

@media (max-width: 350px) {
  html{
    font-size: 50%;
    background-color: rgb(240, 118, 36);
    }

  .topo{
    margin:0;
    background-color: rgb(59, 166, 145);
    font-size: 130%;
  }
     
  }
  
  form{
    background-color: 5%;
    width: 250px;
  }
  
  form input {
          font-size: 1,8rem;
  }

  .danix{

    font-size: 20px;

  }
    
